{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Store | {% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <h3>Bienvenido {{ user }}</h3>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="salir">
    </form>
    {% else %}
    <a href="{% url 'home:register' %}"> Entrar </a> 
    <a href="{% url 'logout' %}"> Entrar </a> 
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>